COMPLETE_FLAT_UI/Connected Services/ServiciosUsuarios/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarios_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_GetUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarios" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_GetUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_UpdateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_UpdateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_InsertUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_InsertUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_DeleteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarios_DeleteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarios">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/Login" message="tns:IUsuarios_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/LoginResponse" message="tns:IUsuarios_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/GetUsuarios" message="tns:IUsuarios_GetUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/GetUsuariosResponse" message="tns:IUsuarios_GetUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/UpdateUsuario" message="tns:IUsuarios_UpdateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/UpdateUsuarioResponse" message="tns:IUsuarios_UpdateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/InsertUsuario" message="tns:IUsuarios_InsertUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/InsertUsuarioResponse" message="tns:IUsuarios_InsertUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarios/DeleteUsuario" message="tns:IUsuarios_DeleteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarios/DeleteUsuarioResponse" message="tns:IUsuarios_DeleteUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarios" type="tns:IUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarios">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/GetUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/InsertUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarios/DeleteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUsuarios">
    <wsdl:port name="BasicHttpBinding_IUsuarios" binding="tns:BasicHttpBinding_IUsuarios">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceUsuarios/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>