COMPLETE_FLAT_UI/Connected Services/ServiceVentas/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" />
  <xs:element name="GetVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetVentasResult" nillable="true" type="q1:ArrayOfVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_usuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fk_tipoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertVentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_estado" type="xs:int" />
        <xs:element minOccurs="0" name="id_venta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistóricoEstadoVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistóricoEstadoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetHistóricoEstadoVentasResult" nillable="true" type="q2:ArrayOfHistoricoEstadoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompleta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompletaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetVentaCompletaResult" nillable="true" type="q3:ArrayOfVentaCompleta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompletaFiltradoAbierto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompletaFiltradoAbiertoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetVentaCompletaFiltradoAbiertoResult" nillable="true" type="q4:ArrayOfVentaCompleta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompletaFiltradoIngresada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVentaCompletaFiltradoIngresadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetVentaCompletaFiltradoIngresadaResult" nillable="true" type="q5:ArrayOfVentaCompleta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>