COMPLETE_FLAT_UI/Connected Services/ServiceVentas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceVentas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceVentas_GetVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVentas" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVentasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_InsertVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVenta" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_InsertVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_DeleteVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVenta" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_DeleteVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_UpdateVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVenta" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_UpdateVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetHistóricoEstadoVentas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistóricoEstadoVentas" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetHistóricoEstadoVentas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistóricoEstadoVentasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompleta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompleta" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompleta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompletaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompletaFiltradoAbierto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompletaFiltradoAbierto" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompletaFiltradoAbierto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompletaFiltradoAbiertoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompletaFiltradoIngresada_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompletaFiltradoIngresada" />
  </wsdl:message>
  <wsdl:message name="IServiceVentas_GetVentaCompletaFiltradoIngresada_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVentaCompletaFiltradoIngresadaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceVentas">
    <wsdl:operation name="GetVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/GetVentas" message="tns:IServiceVentas_GetVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/GetVentasResponse" message="tns:IServiceVentas_GetVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/InsertVenta" message="tns:IServiceVentas_InsertVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/InsertVentaResponse" message="tns:IServiceVentas_InsertVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/DeleteVenta" message="tns:IServiceVentas_DeleteVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/DeleteVentaResponse" message="tns:IServiceVentas_DeleteVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/UpdateVenta" message="tns:IServiceVentas_UpdateVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/UpdateVentaResponse" message="tns:IServiceVentas_UpdateVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistóricoEstadoVentas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/GetHistóricoEstadoVentas" message="tns:IServiceVentas_GetHistóricoEstadoVentas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/GetHistóricoEstadoVentasResponse" message="tns:IServiceVentas_GetHistóricoEstadoVentas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompleta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompleta" message="tns:IServiceVentas_GetVentaCompleta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompletaResponse" message="tns:IServiceVentas_GetVentaCompleta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompletaFiltradoAbierto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoAbierto" message="tns:IServiceVentas_GetVentaCompletaFiltradoAbierto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoAbiertoResponse" message="tns:IServiceVentas_GetVentaCompletaFiltradoAbierto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompletaFiltradoIngresada">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoIngresada" message="tns:IServiceVentas_GetVentaCompletaFiltradoIngresada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoIngresadaResponse" message="tns:IServiceVentas_GetVentaCompletaFiltradoIngresada_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceVentas" type="tns:IServiceVentas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVentas">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/GetVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVenta">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/InsertVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVenta">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/DeleteVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVenta">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/UpdateVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistóricoEstadoVentas">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/GetHistóricoEstadoVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompleta">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/GetVentaCompleta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompletaFiltradoAbierto">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoAbierto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVentaCompletaFiltradoIngresada">
      <soap:operation soapAction="http://tempuri.org/IServiceVentas/GetVentaCompletaFiltradoIngresada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceVentas">
    <wsdl:port name="BasicHttpBinding_IServiceVentas" binding="tns:BasicHttpBinding_IServiceVentas">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceVentas/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>