COMPLETE_FLAT_UI/Connected Services/ServicioContratos/FeriaVirtualServices.Structures.Tables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContratos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contratos" nillable="true" type="tns:Contratos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratos" nillable="true" type="tns:ArrayOfContratos" />
  <xs:complexType name="Contratos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_termino" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_contrato" type="xs:int" />
      <xs:element minOccurs="0" name="Id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contratos" nillable="true" type="tns:Contratos" />
</xs:schema>