COMPLETE_FLAT_UI/Connected Services/ServicioContratos/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" />
  <xs:element name="GetContratos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" minOccurs="0" name="GetContratosResult" nillable="true" type="q1:ArrayOfContratos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha_termino" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_usuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha_termino" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertContratoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContrato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_contrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContratoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>