COMPLETE_FLAT_UI/Connected Services/ServicioContratos/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceContratos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FeriaVirtualServices.Structures.Tables" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContratos_GetContratos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContratos" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_GetContratos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContratosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_UpdateVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVenta" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_UpdateVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_InsertContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertContrato" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_InsertContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_DeleteContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContrato" />
  </wsdl:message>
  <wsdl:message name="IServiceContratos_DeleteContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContratoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceContratos">
    <wsdl:operation name="GetContratos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContratos/GetContratos" message="tns:IServiceContratos_GetContratos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContratos/GetContratosResponse" message="tns:IServiceContratos_GetContratos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContratos/UpdateVenta" message="tns:IServiceContratos_UpdateVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContratos/UpdateVentaResponse" message="tns:IServiceContratos_UpdateVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContratos/InsertContrato" message="tns:IServiceContratos_InsertContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContratos/InsertContratoResponse" message="tns:IServiceContratos_InsertContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContratos/DeleteContrato" message="tns:IServiceContratos_DeleteContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContratos/DeleteContratoResponse" message="tns:IServiceContratos_DeleteContrato_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceContratos" type="tns:IServiceContratos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContratos">
      <soap:operation soapAction="http://tempuri.org/IServiceContratos/GetContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVenta">
      <soap:operation soapAction="http://tempuri.org/IServiceContratos/UpdateVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContrato">
      <soap:operation soapAction="http://tempuri.org/IServiceContratos/InsertContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContrato">
      <soap:operation soapAction="http://tempuri.org/IServiceContratos/DeleteContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceContratos">
    <wsdl:port name="BasicHttpBinding_IServiceContratos" binding="tns:BasicHttpBinding_IServiceContratos">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FeriaVirtualServices.Services/ServiceContratos/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>